h4, h5, h6,
h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
html,body{
  font-family: 'Lora', serif;
  background: url(../images/bac.jpg) no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
}
body a{
    transition:0.5s all;
  -webkit-transition:0.5s all;
  -moz-transition:0.5s all;
  -o-transition:0.5s all;
  -ms-transition:0.5s all;
}
.header-top {
  background: #d0a93d;/*#dda0dd;*/
  padding: 0.5em 0;
}
.head-left {
  float: left;
}
.head-right {
  float: right;
}
ul.number {
  padding: 0em;
}
ul.number li {
  list-style: none;
  display: inline-block;
  margin: 0 1em;
}
ul.number li a, ul.number li span {
  color: #1e0875;/*#242711;*/
  padding: 0.4em 0;
  display: block;
  font-size: 1em;
}
ul.number li a:hover{
  color:#1A08CC;
}
.header-bottom {
  padding: 2em 0 4em;
  background: rgb(242, 6, 164);/*rgba(186, 6, 242, 0.49);/*rgb(230,195,134); Old browsers*/
}
.bottom-left {
  float: right;
}
.bottom-left a {
  padding: 1em;
  border: 1px solid #D0D1C4;
  font-size: 1.1em;
  text-decoration: none;
  color: #58593c;
  background: #fffefc;
}
.bottom-left a:hover{
  background: #58593c;
  color:#fff;
}
.bottom-left {
  float: right;
  margin: 1.3em 0;
}
.logo {
  float:left;
}
.logo a {
  display: block;
}
.head-nav ul li{
  display: inline-block;
}
.head-nav ul li a{
  position: relative;
  display: inline-block;
  outline: none;
  color: #1e0875;/*#575a2e;*/
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  text-shadow: 0 0 1px rgba(255,255,255,0.3);
  font-size: 1em;
  padding: 0.8em 1em;
}
.head-nav a:hover,
.head-nav a:focus {
  outline: none;
}
.head-nav ul{
  padding:0;
  margin: 1.5em 0;
}
*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.head-nav ul li {
  display: inline-block;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
}
.head-nav ul li a:hover,.head-nav ul li.active a{
  color:#333423;
}


ul a:hover,
ul a:focus {
  outline: none;
  color: #333423;
  text-decoration: none;
}
.cl-effect-15 a::before {
  color: #575a2e;
  content: attr(data-hover);
  position: absolute;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}

.cl-effect-15 a:hover::before,
.cl-effect-15 a:focus::before {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 0;
}
.head-nav {
  background: url(../images/nav.png) no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  width:100%;
  min-height: 89px;
}
.head-na{
position:relative;
}
.head-nav {
  position: absolute;
  top: -3.5em;
  left: 0em;
  text-align: center;
}
.confess-top {
  background:#f3f0ea;
    padding: 2em 1em;
  box-shadow:0px 0px 2px 0px;
}
a.more {
  text-decoration: none;
  font-size: 1.2em;
  color: #58593c;
  padding: 0.5em 1.5em;
  font-weight: 400;
  text-transform:uppercase;
  background: #fffefd;
  float: right;
  box-shadow:1px 0px 2px 0px;
}
a.more:hover{
  background:  #1e0875;/*#58593c*/
  color:#fff;
}
.confess-right p{
font-size:1em;
color:#6d6d6d;
line-height:1.8em;
margin:1em  0;
}
.confess-right h3{
font-size:1.5em;
color:#58593c;
margin:0;
text-transform:uppercase;
}
.confess-right {
  padding: 2em 1em;
}
.rooted h3 {
  font-size: 1.5em;
  text-transform: uppercase;
  margin: 0;
  color: #58593c;
}
.rooted p {
  color: #6d6d6d;
  font-size: 1em;
  margin: 1em 0;
  line-height: 1.8em;
}
.rooted h6 {
  color: #97956c;
  font-size: 0.875em;
  text-transform: uppercase;
  padding: 0.5em 0;
  margin: 0;
}
.rooted {
  margin: 5em 0;
}
.grndd {
  padding: 0 0 3em;
}
.worsh {
padding: 3em 0 0;
  border-top: 1px solid #e8e8e8;
}
.recent{
  background:#f3f0ea;
    padding: 2em 3em;
  box-shadow:0px 0px 2px 0px;
  margin-bottom:1em;
}
/*-- flexisel --*/
#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
  display: none;
}
.nbs-flexisel-container {
  position: relative;
  max-width: 100%;
}
.nbs-flexisel-ul {
  position: relative;
  width: 9999px;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  text-align: center;
}
.nbs-flexisel-inner {
  overflow: hidden;
  margin: 0 auto;
}
.nbs-flexisel-item {
  float: left;
  margin:0px;
  padding:0px;
  cursor: pointer;
  position: relative;
  line-height: 0px;
}
.nbs-flexisel-item > img {
  cursor: pointer;
  positon: relative;
  margin-top:10px;
  margin-bottom: 10px;
  max-width:250px;
  max-height:250px;
  border-radius:3px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  -o-border-radius:3px;
}
.nbs-flexisel-item p{
  padding:10px;
}
.nbs-flexisel-item p a{
  color:#000;
  font-size:1.2em;
}
.nbs-flexisel-item p a:hover{
  color:#6CC372;
}
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
  width: 18px;
  height: 22px;
  position: absolute;
  cursor: pointer;
  z-index: 100;
}
.nbs-flexisel-nav-left {
  left:-1.5em;
  background: url(../images/img-sprite.png) no-repeat -356px -30px;
}
.nbs-flexisel-nav-right {
  right:-1.5em;
  background: url(../images/img-sprite.png) no-repeat -392px -30px;
}
.team1 {
margin: 0 0.5em;
position: relative;
}
.team1 p {
color: #34495e;
font-size: 2em;
font-weight: 300;
margin: 0;
position: absolute;
top: 4em;
left: 1.5em;
}
/*-- flexisel --*/
ul.social li {
  list-style: none;
  display:block;
  margin: 0 1em;
}
ul.social {
  padding: 0em;
}
ul.social li a, ul.social li span {
  color: #758594;
  padding: 0.4em 0;
  display: block;
  font-size: 1em;
}

.footer h3 {
  color: white;/*#58593c;*/
  font-size: 1.4em;
  text-transform: uppercase;
  margin-bottom: 1em;
}
.footer p {
  color: #1e0875;/*#6d6d6d;*/
  margin: 1em 0;
  line-height: 1.8em;
  font-size: 1em;
}
span {
  font-weight: 700;
  /*color: #1e0875;*//*#6d6d6d;*/
  vertical-align: middle;
}
.footer a, .footer ul li a{
  color: #1e0875;/* #6d6d6d;*/
  text-decoration: none;
 }
 .or li {
  display: block;
  line-height: 2em;
}

.footer {
  background: rgb(242, 6, 164);/*#d0a93d;/*#d0a93d; #f7f6ec;*/
  padding: 3em 0;
  border-top: 2px solid #d0a93d;/*#c0bfa8;*/
}
.footer ul{
  color: white;
}
.footer-bottom {
  background: #d0a93d;/* rgba(186, 6, 242, 0.49);/*#d8b678;*/
  padding: 3em;
  border-top: 2px solid #1e0875;/*#c0bfa8;*/
}
.footer-bottom p {
  font-size: 1em;
  color: #1e0875;
}

.footer ul li a:hover{
color: white;/*#333423;*/
}

.or ul{
  padding-left: 0px;
}

.mission h2 {
  color: #58593c;
  font-size: 1.7em;
  margin-bottom: 1em;
  text-transform: uppercase;
}
.mission h6 {
  color: #97956c;
  font-size: 1.1em;
  line-height: 1.8em;
  font-weight:700;
  margin: 0;
}
.mission p {
  color: #6d6d6d;
  font-size: 1em;
  line-height: 1.8em;
}

/*-- services --*/
.service {
  padding: 5em 0;
}
.service h2 {
  color: #58593c;
  font-size: 1.7em;
  margin-bottom: 1em;
  text-transform: uppercase;
}
.service h3 {
  color: #58593c;
  font-size: 1.4em;
  margin-bottom: 1em;
  text-transform: uppercase;
  text-align:center;
}
.service h4 {
  color: #97956c;
  font-size: 1.2em;
  line-height: 1.8em;
  font-weight:700;
  text-transform:uppercase;
  margin: 0;
  padding:0.5em 0 0 0;
}
.service p {
  color: #6d6d6d;
  font-size: 1em;
  margin: 1em 0;
  line-height: 1.8em;
}

.rooted-right li {
  display: block;
  margin: 1.2em 0;
}
.rooted-right ul{
padding:0;
}
.rooted-right li a{
color:#6d6d6d;
}
.rooted-right li a:hover{
color:#97956c;
}
/*------ contact -----*/
.contact {
  padding: 5em 0;
}
.contact h2 {
  color: #58593c;
  font-size: 1.7em;
  margin-bottom: 1em;
  text-transform: uppercase;
}
.contact h6 {
  color: #97956c;
  font-size: 1.1em;
  line-height: 1.8em;
  font-weight:700;
  margin: 0;
}
.contact p {
  color: #6d6d6d;
  font-size: 1em;
  margin: 1em 0;
  line-height: 1.8em;
}
.contact-head{
  text-align:left;
}

.contact-head span{
  color: #777;
}
.contact-map iframe{
  min-height:300px;
  width:100%;
  border:none;
  margin:1.5em 0 1em;
}
.contact-form-row{
  margin-bottom:3em;
}
.contact-form-row div{
  width: 32.6%;
  float: left;
  margin-right: 1%;
} 
.contact-form-row div span, .contact-form-row2 span {
  font-size: 1.1em;
  color: #58593c;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  padding: 0 0 0.5em;
}
/*  , div input[type="email"] was part of the selected elements for the style below */
.contact-form-row div input[type="text"]{
  width:100%;
  padding:1em;  
  font-family: 'Droid Sans', sans-serif;
  border:1px solid #EEE;
  -webkit-appearance:none;
  outline:none;
  color:#777;
  transition:border-color 0.4s;
  -webkit-transition:border-color 0.4s;
  -moz-transition:border-color 0.4s;
  -o-transition:border-color 0.4s;
  -ms-transition:border-color 0.4s;
}
.contact-form-row div input[type="text"]:hover,.contact-form-row2 textarea:hover{
  color:#58593c;
  border-color:#58593c;
}
.contact-form-row div:nth-child(3){
  margin-right:0;
}
.contact-form-row2 textarea{
  width:100%;
  padding:1em;  
  font-family: 'Droid Sans', sans-serif;
  border:1px solid #EEE;
  -webkit-appearance:none;
  outline:none;
  color:#777;
  min-height:240px;
  resize:none;
  transition:border-color 0.4s;
  -webkit-transition:border-color 0.4s;
  -moz-transition:border-color 0.4s;
  -o-transition:border-color 0.4s;
  -ms-transition:border-color 0.4s;
}
.contact-form-row2 {
  margin-top:1em;
}
.contact-form input[type="submit"]{
  display: block;
  background: #58593c;
  padding: 0.7em 3em;
  font-size:1.2em;
  text-transform: uppercase;
  color: #FFF;
  font-weight: 400;
  display: inline-block;
  margin-top: 1em;
  text-decoration: none;
  border:none;
  outline:none;
  transition:0.5s all;
  -webkit-transition:0.5s all;
  -moz-transition:0.5s all;
  -o-transition:0.5s all;
  -ms-transition:0.5s all;
}
.contact-form input[type="submit"]:hover{
  background: #91856E;
}
.contact_address, .contact_email {
/*  overflow: hidden;*/
  font-size: 1.1em;
  color: #758594;
  line-height: 1.8em;
}
.contact_email a {
  color: #999;
  text-decoration: none;
}
.contact h3 {
  color: #58593c;
  font-size: 1.5em;
  margin-bottom: 1em;
  text-transform: uppercase;
}
.contact-grids {
  margin: 2em 0;
}
/*-- services --*/

/*-- portfolio --*/
.photos {
  padding: 5em 0;
}
.photos h2 {
  color: #58593c;
  font-size: 1.7em;
  margin-bottom: 1em;
  text-transform: uppercase;
}

#portfoliolist .portfolio {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  width: 23.75%;
  display: none;
  float: left;
  overflow: hidden;
}
div#portfoliolist {
  padding: 0px 0px;
} 
.portfolio-wrapper {
  overflow:hidden;
  position: relative !important;
  cursor:pointer;
}
.portfolio img {
  transition: all 300ms!important;
  -webkit-transition: all 300ms!important;
  -moz-transition: all 300ms!important;
}

/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; 
}
.row:after,
.clearfix:after {
  clear: both; 
}
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.zoom-icon {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
  display: block;
  left: 0;
  top: -152px;
  width: 290px;
  height: 219px;
  background: url(../images/zoom.png) center center no-repeat rgba(88, 89, 60, 0.54);
  cursor: pointer;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}
.grid_box .zoom-icon {
  top: -50px;
  width: 100%;
  height: 254px;
}
.grid_box a:hover .zoom-icon {
  top: 10;
  opacity: 1;
  filter: alpha(opacity=99); 
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)";
}
.entertain_box{
  margin-bottom:3em;
}
.portfolio h3 {
  color: #fff;
  text-align: center;
  font-size: 2em;
  font-weight: 700;
}
/*--gallery-Part-Ends-Here--*/
.vide-top h2 {
  color: #fff;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1em;
}
/*-- error-page --*/
 
a.b-home{
  background:#58593c;
  padding:0.8em 3em;
  display:inline-block;
  color:#FFF;
  text-decoration:none;
  margin-top:1em;
}
a.b-home:hover{
  background:#97956c;
  color:#fff;
}
.fb-like-box.fb_iframe_widget {
  margin-top: 2em;
}
a.vie {
  font-size: 1.2em;
  color: #58593c;
  font-weight: 400;
}
a.vie:hover{
  text-decoration: none;
  background: #1e0875;
  padding: 0.3em;
  border-radius: 0.1em;
  color: white;
}

.view img {
   display: block;
   position: relative;
}
.view h4 {
color: #fff;
text-align: left;
position: relative;
font-size: 1.3em;
padding: 0 1em;
font-weight: 700;
margin: 0.5em 0 0 0;
}
.view p {
font-size: 0.9em;
position: relative;
color: #fff;
padding: 1em 2em;
text-align: left;
}


/*-- responsive-mediaquries --*/
@media(max-width:1440px){
}
/*-- responsive-mediaquries --*/
@media(max-width:1366px){
}
/*-- responsive-mediaquries --*/
@media(max-width:1280px){
}
/*-- responsive-mediaquries --*/
@media(max-width:1024px){
ul.number li a, ul.number li span {
  font-size: 0.875em;
}
.bottom-left a {
  font-size: 1em;
}
.confess-right h2 {
  font-size: 1.3em;
}
a.more {
  font-size: 1em;
}
.rooted h3 {
  font-size: 1.3em;
}
.rooted h6 {
  font-size: 0.8125em;
}
.footer h3 {
  font-size: 1.3em;
}
.mission h2 {
  font-size: 1.5em;
}
.mission h6 {
  font-size: 1em;
}
.service h2 {
  font-size: 1.5em;
}
.service h3 {
  font-size: 1.3em;
}
.service h4 {
  font-size: 1em;
}
.study h2 {
  font-size: 1.5em;
}
.study h3 {
  font-size: 1.3em;
}
.prayer h2 {
  font-size: 1.5em;
}
.prayer h3 {
  font-size: 1.3em;
  margin-bottom: 0;
}
.prayer p {
  font-size: 1em;
}

.grid_box .zoom-icon {
  height: 206px;
}
.photos h2 {
  font-size: 1.5em;
}
.contact h2 {
  font-size: 1.5em;
}
.contact h3 {
  font-size: 1.3em;
}
.mission h2 {
  font-size: 1.5em;
}
.service h2 {
  font-size: 1.5em;
}
.service h3 {
  font-size: 1.3em;
}
.service h4 {
  font-size: 1em;
}

.view h4 {
  font-size: 1em;
}

a.vie {
  font-size: 1.1em;
}

.grid_box .zoom-icon {
  top: -50px;
  width: 100%;
  height: 208px;
}
.contact h2 {
  font-size: 1.5em;
}
.contact h3 {
  font-size: 1.3em;
}
.contact-form-row div span, .contact-form-row2 span {
  font-size: 1em;
}
.contact-form input[type="submit"] {
  padding: 0.7em 3em;
  font-size: 1em;
}
.contact {
  padding: 5em 0 2em;
}
.photos h2 {
  font-size: 1.5em;
}
.photos {
  padding: 5em 0 2em;
}

.service {
  padding: 5em 0 2em;
}

}
/*-- responsive-mediaquries --*/
@media(max-width:768px){
.head-nav ul li{
  display:block;
  float:none;
}
.head-nav ul li a{
  border-right:none;
  color: #1e0875;/*#fff;*/
}
.head-nav ul{
  position:absolute;
  margin: 0;
  padding: 2% 0;
  z-index: 999;
  width: 100%;
  display: none;
  text-align: center;
  background: #d0a93d;/*#E6C27F;*/
  opacity: 0.75;
  left:0em;
  top:3.5em;
}
.head-nav span.menu {
  display: block;
  background: none;
  position: absolute;
  top: -6px;
  right: 15px;
}
.head-nav span.menu:before{
  content:url(../images/menu.png);
  color:#FFF;
  text-align:right;
  cursor:pointer;
}
.head-nav ul li a {
  padding:0.5em 1.5em;
  display:block;
  font-size:0.875em;
  font-weight:500;
}
ul.number li a, ul.number li span {
  font-size: 0.8125em;
}
ul.number li {
  list-style: none;
  display: inline-block;
  margin: 0 0.1em;
}
.confess-right h2 {
  font-size: 1.2em;
}
.rooted h3 {
  font-size: 1.2em;
}
.grndd {
  padding: 0 0 1em;
}
.worsh {
  padding: 1em 0 0;
}
.rooted-right {
  margin-top: 2em;
}
.rooted {
  margin: 4em 0 1em;
}
.loc {
  float: left;
  width: 25%;
}
.ma {
  float: left;
  width: 30%;
}
.or {
 /* padding: 0 0em;*/
  float: left;
  width: 20%;
}
.footer h3 {
  font-size: 1.2em;
}
.con {
  float: left;
  width: 25%;
}
.footer-bottom {
  padding: 1em 0;
  text-align: center;
}
.footer p {
  font-size: 0.8125em;
}
ul.social li a, ul.social li span {
  font-size: 0.8125em;
}
.or li a {
  color: #6d6d6d;
  font-size: 0.8125em;
}
.footer {
  padding: 2em 0;
}
.mission h2 {
  font-size: 1.3em;
}
.mission-right {
  margin-top: 2em;
}

.service h4 {
  font-size: 0.9em;
  height: 30px;
}
.service p {
  color: #6d6d6d;
  font-size: 1em;
  margin: 0em 0;
  line-height: 1.8em;
}
.view p {
  font-size: 0.8125em;
  padding: 0em 2em;
  text-align: left;
  overflow: hidden;
  height: 104px;
}
.service h3 {
  font-size: 1.2em;
}
.grid_7 {
  width: 33.33%;
  float: left;
}
.service h2 {
  font-size: 1.3em;
}

.grid_box .zoom-icon {
  top: -50px;
  width: 100%;
  height: 156px;
}
.photos h2 {
  font-size: 1.3em;
}
.contact h2 {
  font-size: 1.3em;
}
.contact h3 {
  font-size: 1.2em;
}

.logo {
  float: left;
  width: 60%;
}
.bottom-left {
  display: none;
}
.head-nav {
  background: none;
  min-height:0px;
}
.header-bottom{
padding:1em 0;
}

.service {
  padding: 3em 0 2em;
}
.photos {
  padding: 3em 0 2em;
}
.contact {
  padding: 3em 0 0em;
}
/* label {
  display: none;
} */
}
/*-- responsive-mediaquries --*/
@media(max-width:640px){
ul.number li a, ul.number li span {
  font-size: 0.750em;
}
.bottom-left a {
  font-size: 0.9em;
}
.confess-right h2 {
  font-size: 1.1em;
}
a.more {
  padding: 0.4em 1em;
}
.rooted h3 {
  font-size: 1.1em;
}
a.vie {
  font-size: 1.1em;
  color: #58593c;
  font-weight: 400;
}
.ma {
  float: left;
  width: 27%;
}
.or {
  float: left;
  width: 19%;
}
.con {
  float: left;
  width: 29%;
}
.footer h3 {
  font-size: 1.1em;
}
.view p {
  height: 83px;
}
.grid_box .zoom-icon {
  top: -50px;
  width: 100%;
  height: 125px;
}
.error-404 h1 {
  font-size: 6em;
}
}
/*-- responsive-mediaquries --*/
@media(max-width:480px){
.head-right {
  display: none;
}
.logo {
  float: left;
  width: 47%;
}
.bottom-left a {
  font-size: 0.8125em;
}
.bottom-left {
  margin: 1em 0;
}
.confess-right h2 {
  font-size: 1em;
  overflow: hidden;
  height: 13px;
}
.confess-right p {
  font-size: 0.875em;
}
a.more {
  font-size: 0.875em;
}
.confess-top {
  padding: 2em 1em 0;
}
.rooted h3 {
  font-size: 1em;
  text-align: center;
}
.rooted h6 {
  font-size: 0.8125em;
  text-align: center;
}
.rooted p {
  font-size: 0.875em;
}
.loc {
  float: left;
  width: 43%;
}
.ma {
  float: left;
  width: 57%;
}
.or {
  float: left;
  width: 44%;
}
.con {
  float: left;
  width: 56%;
}
.footer h3 {
  font-size: 1em;
}
.footer-bottom p {
  font-size: 0.875em;
  color: #554f46;
}
.mission h2 {
  font-size: 1.1em;
}
.mission p {
  font-size: 0.875em;
}
.grid_7 {
  width: 100%;
  float: none;
  margin: 1em 0;
}
.photos h2 {
  font-size: 1.2em;
}
.grid_box .zoom-icon {
  top: -50px;
  width: 100%;
  height: 189px;
}
.contact h3 {
  font-size: 1.1em;
}
.contact h2 {
  font-size: 1.2em;
}
.contact p {
  font-size: 0.875em;
}
.contact-form-row div span, .contact-form-row2 span {
  font-size: 0.875em;
}
.contact-form-row2 textarea {
  min-height: 150px;
}
.contact-form-row div {
  width: 100%;
  float: none;
  margin-bottom: 3%;
  margin-right:0%;
}
.contact-form-row {
  margin-bottom: 0em;
}
.contact {
  padding: 5em 0 0em;
}
.contact-form input[type="submit"] {
  padding: 0.5em 2em;
  font-size: 0.875em;
}

a.b-home {
  padding: 0.6em 2em;
  font-size: 0.875em;
}
.service p {
  font-size: 0.875em;
}
.head-nav span.menu {
  top: 2px;
  right: 15px;
}
}
/*-- responsive-mediaquries --*/
@media(max-width:320px){
.head-nav span.menu {
  top: 11px;
  left: 252px;
}
.header-bottom {
  padding: 1em 0 1em;
}
.confess-top {
  padding: 1em 1em;
}
.confess-right h2 {
  font-size: 0.9em;
}
.confess-right p {
  font-size: 0.875em;
  overflow: hidden;
}
a.more {
  font-size: 0.8125em;
}
.rooted h3 {
  font-size: 0.9em;
}
.rooted h6 {
  font-size: 0.8125em;
  text-align: center;
  overflow: hidden;
  height: 19px;
}
.rooted p {
  font-size: 0.875em;
  overflow: hidden;
  height: 64px;
}
a.vie {
  font-size: 0.875em;
}
.recent {
  padding: 1em 1em;
}
.nbs-flexisel-nav-right {
  right: -1em;
}
.nbs-flexisel-nav-left {
  left: -1em;
}
.rooted-right li {
  font-size: 0.875em;
}
.loc {
  float: none;
  width: 100%;
}
.ma{
  float: none;
  width: 100%;
   margin: 1em 0;
}
.or{
  float: left;
  width: 50%;
}
.con{
  float: left;
  width: 50%;
}
.confess-left iframe{
height:170px;
}
a.b-home {
  font-size: 0.8125em;
}
.footer p {
  margin: 0.3em 0;
}
ul.social li {
  margin: 0 0em;
}
.footer h3 {
  font-size: 0.875em;
}
.mission p {
  font-size: 0.875em;
}
.mission h2 {
  font-size: 1em;
}
.service h2 {
  font-size: 1.2em;
}
.service h3 {
  font-size: 1em;
}
.service {
  padding: 1em 0 1em;
}
.grid_box .zoom-icon {
  top: -50px;
  width: 100%;
  height: 113px;
}
.photos {
  padding: 1em 0 1em;
}
.contact {
  padding: 1em 0 0em;
}
.contact p {
  font-size: 0.875em;
  margin: 0.5em 0;
}
.contact-map iframe {
  min-height: 151px;
}
.contact-form-row div input[type="text"] {
  padding: 0.5em;
   font-size:0.875em;
}
.contact-form-row2 textarea {
  min-height: 120px;
  padding:0.5em;
  font-size:0.875em;
}
.confess-top {
  padding: 0.5em 0.3em;
}
.head-nav ul {
  top: 3.5em;
}
}
