<!DOCTYPE html>
<html>
<head>
	<title>Login | Kingdom Harvesters Ministries</title>
	<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous"> -->
	<link href="/static/css/bootstrap4.css" rel="stylesheet" type="text/css" media="all">
	<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="/static/css/custom.css" rel="stylesheet" type="text/css" media="all" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!-- <meta name="keywords" content="HolyChurch Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" /> -->
	<!-- <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script> -->
	<link href='https://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/static/css/flexslider.css" type="text/css" media="screen" />
	<!--  <script src="js/jquery.min.js"></script> -->
	<script src="/static/js/jquery-3.3.1.js"></script>
	<script src="/static/js/jquery-migrate.js"></script>
	<!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.0.1/jquery-migrate.min.js"></script> -->
	<link href="/static/css/fontawesome-all.min.css" rel="stylesheet" type="text/css" media="all" />
	<link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon.png">
</head>
<body>
	<div class="container pt-5 pb-4">
				<div class="row py-5">
					<div class="col-sm-12 col-md-10 offset-md-1">
						<div class="col-sm-12 col-md-6 offset-md-3">
						<div class="card my-3">
								<ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
									<li class="nav-item py-2">
										<a class="nav-link active" id="login-tab" data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="true">Log in</a>
									</li>
									<li class="nav-item py-2">
										<a class="nav-link" id="signup-tab" data-toggle="tab" href="#signup" role="tab" aria-controls="signup" aria-selected="false">Sign up</a>
									</li>
								</ul>
							<div class="card-body tab-content" id="myTabContent">
								<!-- Login form tab -->
								<div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
								<h3 class="card-title text-center">Login Here</h3>
								<form class="dv-signin px-sm-0 px-md-4 py-3" action="admin/dashboard/">
									<div class="form-group">
										<label for="email">Email Address</label>
										<div class="input-group">
											<div class="input-group-prepend">
											<span class="input-group-text" id="emailPrepend"><i class="fas fa-envelope"></i></span>
											</div>
											<input type="email" class="form-control" id="email" placeholder="example@gmail.com" aria-describedby="emailPrepend" v-model="credentials.email" required>
										</div>
									</div>
									<div class="form-group">
										<label for="password">Password</label>
										<div class="input-group">
											<div class="input-group-prepend">
											<span class="input-group-text" id="passwordPrepend"><i class="fas fa-unlock-alt"></i></span>
											</div>
											<input type="password" class="form-control" id="password" aria-describedby="passwordPrepend" v-model="credentials.pwd" required>
										</div>
									</div>
									<button type="submit" class="btn btn-outline-primary float-right">Log in <i class="fas fa-user"></i></button>
								</form>
								</div> <!-- End of login tab -->
							
								<!-- Signup form tab -->
					
								<div class="tab-pane fade" id="signup" role="tabpanel" aria-labelledby="signup-tab">
										<h3 class="card-title text-center">Create Account Here</h3>
										<form class="dv-signup" action="admin/dashboard/">
											<div class="form-group">
												<label for="firstname">Given Name</label>
												<input type="text" class="form-control" name="firstname" aria-describedby="firstnameHelp" required>
											</div>
											<div class="form-group"> 
												<label for="lastname">Last Name</label>
												<input type="text" class="form-control" name="lastname" aria-describedby="lastnameHelp" required>
											</div>

											<div class="form-group">
												<label for="username">Username</label>
												<input type="text" class="form-control" name="username" aria-describedby="usernameHelp" required>
											</div>
											<div class="form-group">
												<label for="userEmail">Email address</label>
												<input type="email" class="form-control" name="email" aria-describedby="emailHelp">
											</div>
											<div class="form-group">
												<label for="phonenumber">Phone Number</label>
												<input type="number" class="form-control" name="phonenumber" aria-describedby="phonenumberHelp" required>
											</div>
											<div class="form-group">
												<label for="password">Password</label>
												<input type="password" class="form-control" name="password"  aria-describedby="passwordHelp" required>
											</div>
											<div class="d-flex justify-content-center mt-3 py-2 px-5">
												<button type="submit" class="btn btn-outline-success text-center">Sign up <i class="fas fa-user-plus"></i></button>
											</div>
											</form>
							
								</div> 
								<!-- End of Signup tab -->
							</div>
							</div>
						</div>
					</div>
				</div>
		</div>


<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap4.js"></script>
<!-- <script src="https://localhost:4545/js/devless-sdk.js" class="devless-connection" devless-con-token="00c41647176ef85da6f9d75d88a6f343"></script> -->
<script src="https://apoga-ent.herokuapp.com/js/devless-sdk.js" class="devless-connection" devless-con-token="77c8a39846f93b49501bbcc05dff33af"></script>
</body>
</html>